name: 00 - OIDC Smoke Test
on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  smoke:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v6
        with:
          role-to-assume: arn:aws:iam::132334512300:role/rolegithub
          aws-region: eu-central-1

      - name: Who am I?
        run: aws sts get-caller-identity
